
<!--<h2>{{posts?.length}}</h2>
<ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let p of posts"
    >
      {{ p.title }} 
    </li>
  </ul>-->

  <div class="list row">
    <div class="col-md-8">
    <div class="input-group mb-3">
        <input type="text" class="form-control" #search (keyup)="OnKeyUp(search.value)" placeholder="Buscar por titulo" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"> 
            Buscar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Listado Posts</h4>
      <ul class="list-group">
        @for (post of posts; track post.id) {
            <li
                class="list-group-item"
                [class.active]="post == currentElement"
                (click)="setActiveElement(post)"
            >
            {{ post.title }}
                <span class="badge text-bg-primary rounded-pill">{{post.views }}</span>
            <div class="col-md-8">
              <i class="fa-solid fa-thumbs-up" style="color:green;"></i>{{post.reactions?.likes }}
              <i class="fa-solid fa-thumbs-down" style="color: #cf2507;"></i>{{post.reactions?.dislikes }}
            </div>
            </li>        
        }    
      </ul>
      <!--<button class="m-3 btn btn-sm btn-danger" disabled>
        Remove All
      </button>-->
    </div>
  <div class="col-md-6">
  <app-post-detail
    [viewMode]="true"
    [currentElement]="currentElement" />
  </div>
</div>



